.header { 
  grid-area: header; 
  text-align: left;
  background: rgb(21,13,148);
  background: linear-gradient(90deg, rgba(21,13,148,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.logo {
  font-size: 25px;
  margin-left: 25px;
  font-weight: bold;
  color: coral;
}